# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  URL: app.terraform.io
  ORGANIZATION: johndohoneyjr
  WORKSPACE: workspace-from-api
  ATLAS_TOKEN: 123455

steps:
- script: echo Hello, world! $ORGANIZATION
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://$URL
  displayName: 'Run a multi-line script'

- task: Bash@3
  inputs:
    targetType: inline
    script: 'echo $ATLAS_TOKEN;
    export FOO="ws-1234";
    echo $FOO;
    ls -la;
    pwd
    '

