# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  address: app.terraform.io
  organization: johndohoneyjr
  workspace: workspace-from-api
  ATLAS_TOKEN: 123455

steps:
- script: echo Hello, world! $address
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- task: Bash@3
  inputs:
    targetType: inline
    script: 'echo $ATLAS_TOKEN
    export FOO=1234
    echo $FOO
    whoami
    '

